# Ship Logs

https://www.kaggle.com/kaggle/climate-data-from-ocean-ships

In [1]:
# imports
import csv
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from __future__ import division
%matplotlib inline

In [2]:
# versions 
import sys
print('Python: '+sys.version)
print('numpy: '+np.__version__)
print('pandas: '+pd.__version__)

Python: 3.5.2 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
numpy: 1.12.0
pandas: 0.19.2

In [7]:
# constants
plt.rcParams['figure.figsize'] = (10.0, 10.0)
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 50)

In [5]:
shiplogs = pd.read_csv('./input/climate-data-from-ocean-ships/CLIWOC15.csv', low_memory=False)

In [8]:
shiplogs.describe().T

,count,mean,std,min,25%,50%,75%,max
RecID,280280.0,1.401405e+05,8.091001e+04,1.000000e+00,7.007075e+04,1.401405e+05,2.102102e+05,2.802800e+05
DASnumber,8400.0,5.078049e+03,1.750045e+03,9.772000e+02,3.984600e+03,4.600300e+03,7.327200e+03,8.296300e+03
VoyageIni,272305.0,1.799578e+07,3.197104e+05,1.662102e+07,1.775042e+07,1.792081e+07,1.833090e+07,1.855062e+07
Calendar,280280.0,1.983377e+00,1.278531e-01,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
Year,280280.0,1.799093e+03,3.196211e+01,1.662000e+03,1.774000e+03,1.792000e+03,1.832000e+03,1.855000e+03
Month,280280.0,6.316937e+00,3.322824e+00,1.000000e+00,4.000000e+00,6.000000e+00,9.000000e+00,1.200000e+01
Day,280280.0,1.572077e+01,8.774635e+00,1.000000e+00,8.000000e+00,1.600000e+01,2.300000e+01,3.100000e+01
TimeOB,280280.0,1.219164e+01,1.921593e+00,0.000000e+00,1.200000e+01,1.200000e+01,1.200000e+01,2.300000e+01
Glasses,97142.0,7.999650e+00,3.796158e-02,2.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00
UTC,280280.0,1.799158e+09,3.196235e+07,1.662102e+09,1.774110e+09,1.792011e+09,1.832053e+09,1.855073e+09
ShipSpeed,37.0,1.771622e+01,1.328052e+01,3.000000e+00,6.500000e+00,1.500000e+01,2.350000e+01,5.325000e+01
Distance,168970.0,7.038570e+01,8.005448e+01,0.000000e+00,2.450000e+01,5.300000e+01,1.080000e+02,1.062500e+04
drLatDeg,155413.0,2.641237e+01,1.529035e+01,0.000000e+00,1.300000e+01,2.800000e+01,3.800000e+01,8.000000e+01
drLatMin,155413.0,2.918730e+01,1.732047e+01,0.000000e+00,1.400000e+01,2.900000e+01,4.400000e+01,9.200000e+01
drLatSec,155413.0,1.935945e+00,8.386834e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.600000e+01
drLongDeg,150011.0,8.031266e+01,1.139974e+02,0.000000e+00,1.200000e+01,2.900000e+01,7.800000e+01,3.930000e+02
drLongMin,150011.0,2.914367e+01,1.740144e+01,0.000000e+00,1.400000e+01,2.900000e+01,4.400000e+01,1.320000e+02
drLongSec,150011.0,2.106019e+00,8.697791e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.260000e+02
LatDeg,154284.0,2.571886e+01,1.469781e+01,0.000000e+00,1.400000e+01,2.700000e+01,3.600000e+01,1.280000e+02
LatMin,154284.0,2.917566e+01,1.735021e+01,0.000000e+00,1.400000e+01,2.900000e+01,4.400000e+01,2.020000e+02
LatSec,154284.0,1.384810e+00,7.087085e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.260000e+02
LongDeg,122439.0,1.022579e+02,1.250238e+02,0.000000e+00,1.900000e+01,3.900000e+01,1.050000e+02,3.610000e+02
LongMin,122439.0,2.921496e+01,1.734323e+01,0.000000e+00,1.400000e+01,2.900000e+01,4.400000e+01,1.240000e+02
LongSec,122439.0,2.128521e+00,8.729805e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.700000e+01
Lat3,257983.0,6.375537e+00,3.000051e+01,-1.290370e+02,-2.230000e+01,6.833330e+00,3.436670e+01,8.018330e+01
Lon3,253215.0,-4.419788e+00,4.895258e+01,-1.799830e+02,-3.206670e+01,-1.788670e+01,1.443330e+01,1.799830e+02
LatInd,280280.0,2.002865e+00,1.309014e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00
LonInd,280280.0,2.136542e+00,1.502154e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00
PosCoastal,280280.0,5.899814e-02,2.356216e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Anchored,280280.0,3.095833e-02,1.732051e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
LMdistance1,81236.0,2.323999e+02,3.127760e+02,0.000000e+00,3.700000e+01,1.160000e+02,3.000000e+02,1.112500e+04
LMdistance2,4142.0,6.626234e+01,1.010827e+02,2.500000e-01,6.750000e+00,2.700000e+01,7.900000e+01,8.140000e+02
LMdistance3,845.0,3.010296e+01,6.286007e+01,2.500000e-01,3.500000e+00,8.000000e+00,2.775000e+01,5.725000e+02
WindForceScale,46166.0,4.165923e+00,1.966441e+00,0.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00,1.200000e+01
CloudFrac,95.0,5.747368e+00,3.354795e+00,0.000000e+00,2.500000e+00,5.000000e+00,9.500000e+00,1.000000e+01
Gusts,280280.0,2.754745e-02,1.636725e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Rain,280280.0,7.427216e-02,2.622137e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Fog,280280.0,1.354717e-02,1.156014e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Snow,280280.0,2.351220e-03,4.843243e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Thunder,280280.0,1.845654e-02,1.345956e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Hail,280280.0,1.619809e-03,4.021431e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
SeaIce,280280.0,4.509776e-03,6.700339e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Duplicate,280280.0,5.342158e-02,3.952916e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00
SSTReading,120.0,7.073125e+01,8.602213e+00,3.000000e+01,6.600000e+01,7.175000e+01,7.700000e+01,8.300000e+01
TairReading,54265.0,7.005234e+01,1.443044e+01,0.000000e+00,6.500000e+01,7.300000e+01,8.000000e+01,9.600000e+01
ProbTair,54267.0,2.242413e+01,5.762678e+00,-1.277780e+00,1.888890e+01,2.333330e+01,2.666670e+01,4.033330e+02
BaroReading,50783.0,3.033041e+04,8.774742e+04,2.740000e+01,2.990000e+01,3.017000e+01,7.661000e+02,3.008000e+05
BarTempReading,1243.0,3.936661e+04,1.013034e+05,2.692000e+01,2.986000e+01,3.012000e+01,7.455000e+01,3.851000e+05
HumReading,330.0,1.970000e+00,1.134259e+00,0.000000e+00,1.200000e+00,2.000000e+00,2.700000e+00,5.200000e+00
PumpWater,76.0,1.049342e+01,3.647367e+00,1.500000e+00,8.000000e+00,1.000000e+01,1.200000e+01,2.200000e+01
LifeOnBoard,280280.0,1.529899e-02,1.227395e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Cargo,280280.0,9.026688e-04,3.003094e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
ShipAndRig,280280.0,1.573427e-02,1.244458e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Biology,280280.0,7.103611e-03,8.398318e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
WarsAndFights,280280.0,4.745255e-04,2.177848e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Illustrations,280280.0,2.319109e-04,1.522688e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
TrivialCorrection,280280.0,1.633723e-02,1.267690e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

What are the top shipping companies?

In [10]:
shiplogs.Company.value_counts()

RN                                    47154
EIC                                   28451
ADM                                   19812
MAR                                   15938
MCC                                   10119
RN                                    10029
VOC                                    8602
MER                                    5890
Marine                                 5236
WHA                                    2805
Hudson Bay Company                     2031
Particulier                            1202
Swedish East India Company              700
Admiraliteit                            610
H. v. Rijckevorsel, Rotterdam           473
WIC                                     429
VOC Z                                   216
A. van Hoboken & zn. Te Rotterdam.      199
VOC-Z                                   117
A. Hoboken, Rotterdam                    97
Thomas Brouw en Zn.                      95
Hudson Bay company                       87
Adm                                      78
OIC                                      62
Merchant Navy                            41
Name: Company, dtype: int64

- RN = Royal Navy
- EIC = East India Company
- ADM = Admiralty
- MAR
- MCC = Middelburg’s Commercial Company (MCC: Middelburgsche Commercie Compagnie)
- RN = Royal Navy
- VOC = Dutch East India Company (VOC – Verenigde Oostindische Compagnie)
- MER 
- Marine
- WHA
- WIC = West India Company (WIC: Westindische Compagnie)
- OIC

Which logbooks have the most entries?

In [16]:
shiplogs.LogbookIdent.value_counts()

Cote - 4/JJ/23                    1738
Extract D, Reis 1                 1730
Extract O, Reis 7                 1571
Cote - 4/JJ/9                     1520
Extract B                         1300
Cote - 4/JJ/22                    1080
Extract B, Reis 9                  990
NMM ADM/L/S594                     981
VOC_152_5130                       959
Extract L, reis 6                  957
NIWI-F-1573                        884
Cote - 4/JJ/39                     789
Extract B, Reis 11                 762
GAA_Bibliotheek_M165               753
ADM_177_1203                       731
NMM ADM/L/F59                      728
Extract M, reis 39, pp159-183      725
Extract C, reis 17, pp.209-237     713
Cote - 4/JJ/13                     700
Extract B, Reis 4                  690
Cote - 4/JJ/35                     670
Extract C, reis 08, p.115-142      667
NIWI-F-1576                        659
Extract P, reis 13a, p.227-257     655
Extract P, Reis 9a, pp 110-118     643
Extract C, Reis 1                  642
CORREOS, 192A R1                   638
MAR_D23905_1158                    623
ADM_177_3374                       622
Extract L, Reis 3                  618
                                  ...
NMM ADM/L/L155                      12
NMM ADM/L/R381                      12
MS. 272 DOC 12                      12
NMM ADM/L/J5                        11
NMM ADM/L/L214                      11
MS. 111 DOC 2 (2)                   11
BL L/MAR/B/575A                     11
NMM ADM/L/A262                      10
MS. 2506_014                        10
NMM ADM/L/A56                        9
BL L/MAR/B/478C                      9
NMM ADM/L/H156                       9
NMM ADM/L/S29                        8
NMM ADM/L/L178                       8
MS. 320_007                          8
NMM ADM/L/G25                        7
NMM ADM/L/N189                       6
Extract X, Reis 4                    6
Extract X, Reis 3                    5
NMM ADM/L/E99                        4
MS. 176 DOC24(2)                     4
NMM ADM/L/G154                       3
MS. 176/DOC3(3)                      2
NMM ADM/L/C224                       1
NMM ADM/L/C220                       1
NMM ADM/L/C221                       1
NMM ADM/L/C223                       1
NMM ADM/L/C226                       1
MS. 176/DOC9                         1
NMM ADM/L/C225                       1
dtype: int64

Which ships have the most entries?

In [17]:
shiplogs.ShipName.value_counts()

PRINCIPE                       2825
LA PRINCESA                    2487
Anthony                        2377
EL REY                         2309
Infanta                        2270
Magdalena                      2226
Batavia                        2118
Bellona                        2078
EL COLON                       1932
Dordrecht                      1882
CORTES                         1754
San Fernando                   1736
Ternate                        1708
Stad Utrecht                   1665
Inglis                         1619
La Cantabria                   1616
Lucipara's                     1552
EL PIZARRO                     1529
EL AGUILA                      1528
Rotterdams Welvaren            1502
Walvisch                       1495
Argo                           1448
Admiraal Jan Evertsen          1427
Vliegende Faam                 1402
Boreas                         1397
Prince Rupert                  1349
EL GRIMALDI                    1347
Castor                         1304
Rotterdam                      1281
El Patagon                     1270
                               ...
Iphigenia                        24
Surpize                          23
LA JUNO                          23
Sara Johanna                     23
Zeemercuur                       23
LA SUERTE (SAN FCO JAVIER)       20
DESCONOCIDO-22                   18
EL RAYO                          18
Ambarawa                         17
Royal George                     16
SANTA TERESA (ALIAS DRAGON)      16
Superb                           15
Morning Star                     14
ASUNCIÓN                         13
Montreal                         12
DESCONOCIDO-01                   12
Lowestoffe                       11
Senegal                          11
Prince George                    11
SAN ISIDORO                      10
SANTA LUCIA                       8
Ludlow Castle                     8
Lizard                            8
SANTO CRISTO DEL CALVARIO         7
Lynn                              7
DESCONOCIDO-08                    7
DESCONOCIDO-19                    4
Emerald                           4
DESCONOCIDO-21                    2
DESCONOCIDO-11                    1
dtype: int64

In [11]:
shiplogs[shiplogs.ShipName == 'Waterloo'].VoyageIni.unique()

array([ 18270509.,  18271008.,  18271010.])

How many different ships are there?

In [13]:
len(shiplogs.ShipName.unique())

949

What are the different ship types?

In [19]:
shiplogs.ShipType.unique()

array(['FRAGATA', 'PAQUEBOTE', 'CORVETA', 'NAVIO', 'Fragata correo',
       'Fragata Correo', 'Paquebot', 'MISTICO', 'BERGANTIN', nan, 'Sloop',
       'Brig', '6th Rate', '4th Rate', 'Frigate', '3rd Rate', '4th rate',
       '5th Rate', 'Snow', 'Cutter', 'Sloop (?)', 'Armed Storeship',
       'Bark', 'Storeship', '6th rate', '5th rate', '3rd rate',
       'Brigsloop', 'storeship', 'Packet ship', 'brig sloop', 'brig',
       'packet ship', '2nd rate', 'PAQUEBOTES', 'sloop', 'troopship',
       'BERGANTÍN', 'FALUCHO', '3rd rate ', '6th rate  ', 'Corvette',
       'Gabarre', 'brig/sloop', 'Oorlogsschip', 'Steamer', 'Fregat',
       'Korvet', 'Oorlogssnauw', 'Brik', 'oorlogssnauw', 'Korvet v Oorlog',
       'Linieschip', 'Whaler', 'Corvet', 'Galjoot', 'Snauw', 'Advijsjagt',
       'Snaauw', 'Cotter', 'Kotter', 'Bargentijn', 'Schoener', 'Paketboot',
       'Transportschip', 'Vrachtschip', 'stoompacket', 'NAVÍO',
       'DESCONOCIDA', 'Stoomschip', 'Schoenerbrik', 'Ship o.t. Line',
       'Fregatschip', 'Brigantijn', 'CORBETA', 'Pink', 'Hoekerschip',
       'Chialoup', 'POLACRA', 'JABEQUE', 'CORBETAS', '6th Rate Frigat',
       'DESCONOCIDO', 'GOLETA GUARDA C', 'CHAMBEQUÍN', 'Zeilschip',
       '2nd Rate', 'Sloep', 'BALANDRA', 'BUQUE', 'NAVÍO DE LA REA',
       'FRAGATA DE GUER', 'GOLETA', 'special vessel', 'Koopvaarder',
       'Brig-Sloop', 'merchant brig', 'fireship', '3rd rate  ', '7th Rate',
       '8th Rate', 'O.I. Schip', 'Fregatte', 'Fregate', 'Flute', "L'aviso",
       'Fragate', 'Brick', 'FRAGATA/ CORREO'], dtype=object)

How many ship logs have a memo about cargo?

In [27]:
len(shiplogs[shiplogs.Cargo > 0].CargoMemo)

253

In [67]:
shiplogs[shiplogs.Cargo > 0].CargoMemo

13276     Found in the Spirit room and coal room a pipe ...
72078     haalden 2 chaloupe met water van de kapitein D...
72240                              smeedkolen (bij de pomp)
72252                              smeedkolen (bij de pomp)
72261                              smeedkolen (bij de pomp)
72278                Keerden het kruit. Keerden de chaloup?
72307             Manden de kogels van voren naar achteren.
72433                      29 halve varkens water aan boord
72435              9 halve varkens water aan boord gehaald.
72438                    haalden 23 varkens water aan boord
72440               Haalden 2 hele en 8 halve varkens water
72458               haalden 7 hele en 7 halve varkens water
72460              haalden 7 hele en 5 halve varkens water.
72463                   Haalden 16 halve varkens aan boord.
72465                              Haalden 9 halve varkens.
72466                             Haalden 16 varkens water.
72468                       Haalden 16 halve varkens water.
72469                        Haalden een chaloup met water.
72470                       Haalden 10 halve varkens water.
72495             Haalden 2 boots met vers water aan boord.
72500             haalden 29 hele en 11 halve varkens water
72501               haalden 2 hele en 6 halve varkens water
72502                              haalden 14 varkens water
72537     kregen 8 hele en 4 halve varkens water aan boord.
72539              Haalden 9 halve varkens water aan boord.
72540                    Keerden kruit en vilden cardoezen.
72541             24 halve varkens water aan boord gehaald.
75470     niet meer als een legger water in 't schip en ...
75829     'visiteerden de kaaskamer, de kaas voor 't gro...
75910     zagen de victualy na en vonden veel van dezeel...
                                ...
225356                      Een manslaaf overleden, no. 38.
225357    Een vrouwslaaf en een manslaaf overleden, no. ...
225358                    Een vrouwslaaf overleden, no. 41.
225364                    Een vrouwslaaf overleden, no. 42.
225365                 Twee manslaven overleden, no. 43-44.
225366                      Een manslaaf overleden, no. 45.
225368               Twee vrouwslaven overleden, no. 46-47.
225370                      Een manslaaf overleden, no. 51.
225371                    Een vrouwslaaf overleden, no. 53.
225372                      Een manslaaf overleden, no. 54.
225373                      Een manslaaf overleden, no. 55.
225633                    Een vrouwslaaf overleden, no. 17.
225634                  Een meisjesslaaf overleden, no. 18.
225642                    Een vrouwslaaf overleden, no. 19.
225644                    Een vrouwslaaf overleden, no. 20.
225652    Een vrouwslaaf en een manslaaf overleden, no. ...
225653                     Een vrouwslaaf overleden, no. 23
225654                    Een vrouwslaaf overleden, no. 24.
225655                      Een manslaaf overleden, no. 25.
225665     Een man- en een vrouwslaaf overleden, no. 26-27.
225666                  Een jongensslaaf overleden, no. 28.
225669                    Een vrouwslaaf overleden, no. 29.
236704    Kochten koffie, suiker en katoen in Rio de Jan...
236809                      Kochten voornamelijk koffie in.
246564    Losten jenever en jeneverbessen. Losten ook wi...
247021    Namen als lading confituren, nootmuskaat en fo...
255114                                           242 slaven
255140                                           239 slaven
255266                                           240 slaven
255294                                           241 slaven
Name: CargoMemo, dtype: object

In [36]:
len(shiplogs[shiplogs.ImageNumber.notnull()].ImageNumber.unique())

13473

In [61]:
shiplogs[shiplogs.ImageNumber.notnull()].ImageNumber.unique()

array(['VOC_152_6644_0057', 'ADM_177_2396_0463', 'ADM_177_2396_0464', ...,
       'MAR_D23905_146_0073', 'MAR_D23905_146_0074', 'MAR_D23905_146_0075'], dtype=object)

In [41]:
shiplogs[shiplogs.EnteredBy.notnull()].EnteredBy.unique()

array(['Catharine Ward', 'Ellie Gatrill-Smith', 'Simon Bailey',
       'Ellie Smith-Gatrill', 'Dennis Wheeler',
       'Catharine Ward, Ellie Gatrill-Smith', 'Catherine and Ellie',
       'Elly Gathrill-Smith', 'Eric Verlinde', 'Florie Barnhoorn',
       'Esther Balkestein', 'Howard Sahinoer', 'Frank Boekhorst',
       'Bruni Oehlers', 'Toni Spek-Font Pallares', 'Inge Hickmann',
       'Tineke Tegelaers', 'Esther Balkestein ', 'Tineke Tegelaers ',
       'Frank Boekhorst ', 'Theo Tieken', 'Denise Berck',
       'René Snoey Kiewit', 'Chantal Dekker & Tineke Tegelaers',
       'Chantal Dekker', 'Rob de Rooij', 'Renate Meijer',
       'Pauline Beckers', 'Bruni Oehlers ', 'Chantal Dekker ',
       'Florie Barnhoorn ', 'Rolf de Weijert', 'Roel Huttenga',
       'Maarten Koek', 'Niels Hupkes', 'Ronald Schurink', 'Simone Pathuis',
       'Marja Segers', 'Jolanthe Schretlen', 'Pim Vente',
       'Ronald Schurinck', 'Bruni Oehlers/Chantal Dekker',
       'Eric Verlinde ', 'Toni Spek-Font Pallares & Renate Meijer',
       'Frits Koek'], dtype=object)

In [47]:
# shiplogs.OtherShipInformation.unique()

In [45]:
shiplogs.Rank1.unique()

array(['COMANDANTE DE DIVISION', 'TENIENTE DE NAVIO', 'ALFEREZ DE FRAGATA',
       'CAPITAN DE FRAGATA', 'COMANDANTE', nan, 'TENIENTE DE FRAGATA',
       'CAPITAN', 'Capitan', 'Captain', 'Author', 'Rear Admiral',
       'CAPITAN DE NAVIO', 'PILOTO', 'Commandante', 'TENIE NTE DE FRAGATA',
       'JEFE DE ESCUADRA', 'Cdt.', 'Cdt,', 'Cdt', 'Lt', 'cdt.',
       'CAPITAN Y PILOTO', 'TENIENTE', 'Kapitein', 'Luitenant ter Zee',
       'Kapitein ter Zee', 'Ltz.', 'Stuurman', 'LtZ-1', 'Schrijver',
       'KLtZ', 'Luitenant 2e kl.', 'Ltz', 'eerste schrijver', 'KtZ',
       'Officier', 'schipheer', 'KLtz', 'Commandeur', 'Derde Waak',
       'Onderkoopman', 'KltZ', 'Schipper', 'Commandant',
       'Kapitein-Commandeur', 'LtZ 1e Klas', 'Raad Just.', 'LtZ',
       'Luitenant', 'Opperstuurman', 'Adelborst', 'Luitenant Kolonel',
       'Schout bij nacht', '1e Luitenant', 'Commandant eskader',
       'commandant', 'Captijn Luitenant ter Zee', 'Ktz', 'Gezaghebber',
       'Ltz 1e kl', 'Chirurgijn', 'kapitein-luitenant', '3e waak',
       'Gezagvoerder', 'LtZ 1e klasse', '1e schrijver', 'Vice Admiraal',
       'ALMIRANTE', 'BRIGADIER DE MARINA', '1e Officier', 'Kltz',
       'Commandant kolonel', 'KtZ.', 'Lt ter Zee', 'Ltz. 1e kl.',
       'Ltz. 2e kl.', 'BRIGADIER', 'Journaalhouder', 'TENIENTE DE NAVÍO',
       'sous-luitenant', 'ALFÉREZ DE FRAGATA', 'COMANDANTE Y CAPITÁN',
       'CAPITÁN DE FRAGATA', 'CAPITÁN', 'CAPITAN Y MAESTRE',
       'Captain (Author)', 'Luijtenant', 'officier/gezagvoerder/pas',
       'Adelborst 2e klas', 'ALFEREZ DE NAVIO', 'MANUEL MIÑÁN', 'ALFÉREZ',
       'ALFÉREZ DE NAVÍO', 'LtZ 2', 'Ltz. 1e klas',
       'TENIENTE GENERAL Y COMAND', 'ALFÉREZ DE NAVÍO DE LA RE', 'Clerk',
       'CAPITAN DE MAR Y GUERRA', 'COMANDANTE (BRIGADIER DE '], dtype=object)

In [50]:
len(shiplogs.Name1.unique())

1372

In [53]:
len(shiplogs.VoyageFrom.unique())

1002

In [54]:
len(shiplogs.VoyageTo.unique())

1019

In [120]:
shiplogs.VoyageTo.value_counts()

Batavia                                               31484
La Coruña                                              8761
Montevideo                                             8688
Nieuwediep                                             8500
CÁDIZ                                                  8413
LA HABANA                                              8124
Rotterdam                                              7165
Nederland                                              6964
Madras                                                 6787
Spithead                                               6615
LA CORUÑA                                              6160
St Helena                                              5987
Hellevoetsluis                                         4625
Texel                                                  4624
Suriname                                               4609
Downs                                                  4028
Kaap de Goede Hoop                                     3756
Bombay                                                 3601
UK                                                     3571
Table Bay                                              2900
Barbados                                               2788
Java                                                   2481
Amsterdam                                              2433
Rio de Janeiro                                         2412
Middelburg                                             2357
Plymouth                                               1997
Ceylon                                                 1945
Paramaribo                                             1672
Brouwershaven                                          1632
CADIZ                                                  1555
                                                      ...
LEVANTE Y TORREVIEJA Y VUELTA                             3
Saldanne baaij                                            3
Baros                                                     3
Maregat                                                   3
St Johns                                                  3
Cadise                                                    3
Semarang                                                  2
SACRAMENTO                                                2
Amboina                                                   2
Manzanilla de Cuba                                        2
Palliacatte                                               2
Maxim                                                     2
STA. CATAL. Y MONTEV.                                     2
Bay of Bengal                                             2
Sinkel                                                    2
Anjer                                                     2
SAN LORENZO DE NUCA Y VUELTA                              1
MONTEVIDEO (PRIMERO VAN A STA. CATALINA, BRASIL)          1
Maldonado, River Plate                                    1
ALIC.?                                                    1
St. Thomee                                                1
YSLA DE SANTA CATHALINAYSLA DE SANTA CATHALINA            1
Fercera, near St Michaels                                 1
STA. CATAL Y MONTEV.                                      1
YA VEREMOS                                                1
Baroes                                                    1
Hellevoetsluis via Kaap de Goede Hoop en Noorwegen        1
Bretts Harbour                                            1
ISLA SANTA CATALINA (BRASIL)Y VUELTA                      1
STA. CATALINA Y MONTEVID.                                 1
dtype: int64

In [62]:
shiplogs.VoyageFrom.value_counts()

Batavia                                    25920
Rotterdam                                   9757
Nederland                                   8697
Montevideo                                  8680
La Coruña                                   8463
Spithead                                    8298
LA HABANA                                   7906
LA CORUÑA                                   7657
CÁDIZ                                       7522
Nieuwediep                                  6713
Texel                                       6445
Java Head                                   4505
Hellevoetsluis                              4451
Downs                                       4242
Plymouth                                    3979
Table Bay                                   3974
St Helena                                   3672
Portsmouth                                  3606
Middelburg                                  3270
Suriname                                    3154
Curacao                                     3049
MONTEVIDEO                                  2945
Rio de Janeiro                              2832
Amsterdam                                   2491
Madras                                      2448
Gravesend                                   2215
Madeira                                     2128
Rammekens                                   1822
Banjoewangie                                1800
Brest                                       1730
                                           ...
Cape Blanco                                    5
Soincij Baai                                   5
Omoa                                           5
Schapeneiland                                  4
Baai Jacomel                                   4
Banda                                          4
Aguadilla                                      4
Tapanolie                                      4
Port Desire                                    4
Bergen                                         4
CÁDIZ?                                         4
Pasgeroeang                                    4
Start                                          3
PLYMOUTH                                       3
Mirabelle                                      3
Maneter                                        2
St Paulo                                       2
La Guaijra                                     2
Laguaijra                                      2
Kingston                                       2
St Augustin Bay                                2
Semarang                                       2
Mountsbaai                                     2
Funchall Road                                  2
Bretts Harbour                                 1
Benkuleu                                       1
St George d'Elmina\n.St George d'Elmina        1
Baaij Falso                                    1
Middellandse Zee                               1
Saldanne baaij                                 1
dtype: int64

In [64]:
shiplogs[shiplogs.BiologyMemo.notnull()].BiologyMemo

2151                                        ECLIPSE DE LUNA
5933      HACEN UNA OBSERVACION APROVECHANDO UN ECLIPSE ...
6297      A LAS 6:24 SALIO LA LUNA CON 4 DIGITOS ECLIPSA...
6453                                several drifts of weed.
7248                        Kelp spotted southward 19 miles
7249                          Kelp spotted southward 7miles
9495      The sea in the night sparkles as if we sailed ...
10610                               Saw 2 penguins !!!!!!!!
11716     great multitudes of dolphins and Bonitas aroun...
13990                a great number of birds about the ship
14003             Saw a very large whale following the ship
14004     Whale still following the ship, ship going 10 ...
14021                Saw St Hellana Pigeons and other birds
14143                   great number of fish about the ship
16701                                     3 whales in sight
20106     At 1am it cleared saw the moon eclipsed about ...
21205                                 Saw gulf weed at noon
23731                                         lunar eclipse
24573                                Sight a sea serpent!!!
39515                          Passed by a great many weeds
39572                          Forenoon saw some gulf weeds
39573                                    A great many weeds
39575               Still a great many weeds about the ship
39577               Still a great many weeds about the ship
43852                      rather more gulf weed seen today
43853                                        gulf weed seen
43854                                 not so much gulf weed
43855                  a little of the gulf weed seen today
43856                  a few pieces of gulf weed seen today
43857               a little of the gulf weed seen this day
                                ...
256587               ' zien vele velden van kroos drijven.'
256588                          zagen vele velden van kroos
256608                              Veel vis bij het schip.
256758                               Veel vis bij het schip
256864                                            vee kroos
256871                               veel vis bij het schip
256949                              Vingen een kleine haai.
259300    zagen menigte bonte meeuwen, veel vis, enkele ...
259778                      verkleuring water / licht groen
259780                                         helder water
273681                     Sage een trompet voorbij drijven
273682    Saagen verschijden zeequallen en veuijligheed ...
273753                                 sagen een pijlstaart
273760                 zagen een schildpad voorbij drijven.
273761                  sagen een schilpadt voorbij drijven
273786                  Sagen verschijde besaantjes drijven
273788    zagen een malleviet en verscheidene andere vog...
273789    Sagen een Malevit en verschijde andre gevogelt...
273877                           zagen verschijde boscoppen
280000                                    zagen bruinvissen
280038    Zagen een groot aantal boeren met hun varkens,...
280048        Zagen groot aantal bruinvissen en cachelotten
280052                                  zagen kroos drijven
280054                                  zagen kroos drijven
280059                             zagen een Witte Walvisch
280061         zagen een groot aantal bruinvissen en vogels
280072                                   zagen wier drijven
280080              zagen kroost drijven en vliegende visch
280141           Zagen een zeer mooie regenboog van de maan
280154                             zagen een witte walvisch
Name: BiologyMemo, dtype: object

In [66]:
shiplogs.Name1.value_counts()

A.P. Klein                        2226
Manuel de Abona                   1394
Andrés Vélez                      1379
C. Visman                         1335
F. Schut                          1276
C.P. Kuiper                       1246
José de Merino                    1235
B. van der Tak                    1225
F.J. Hoffman                      1209
D. Ochtman                        1207
P. Vis                            1174
Cayetano Antunez                  1147
DESCONOCIDO                       1142
J.A. Pronk                        1138
Dugald Macdougall                 1078
Roger Mainwaring                  1078
A. Schaap                         1065
Francisco de Llanos               1048
John Raynor                       1022
J. Bougue                          992
Elmer M. Mooij                     978
John Allen                         934
J.A. de Maas                       923
L.J. Rotgans                       919
J. Menkenveld                      907
Juan Antonio González              897
James Cook                         887
C. van der Hart                    884
J.F.G. de la Perouse               884
F.H.J. Taski                       872
                                  ...
Francis Banks                       10
Issac Smith                          9
C Burrows                            9
VICENTE TOFIÑO                       8
FCO. SANTISTEBAN                     8
Nathaniel Bateman                    8
FCO. GIL Y LEMOS                     8
Captain Walter Stirling              7
John Hallwall                        7
JUAN PUJADAS                         7
Juan Manuel de las Cagigas           6
G.C. Zoutman                         5
JOSE DE JULIÁN                       5
John Jervis                          5
Thomas Frognall                      4
R Roddman                            4
John Moutray (author)                4
Christpher Rigby                     3
FRANCISCO MELGAREJO                  2
José Antonio Llanos                  1
John Okes (Edward Clarke dead)       1
U(lke) Baarends(z)                   1
FRANCISCO DE MEDINA                  1
ANTONIO DE MONTES                    1
ANTONIO MAESIA                       1
Juan António González                1
ANDRÉS VIEZMA                        1
MR. LOTHE                            1
ANDRÉS DE VIEDMA                     1
De Medine                            1
dtype: int64

In [78]:
shiplogs[shiplogs.WarsAndFightsMemo.notnull()].Name1.unique()

array(['Richard Howe', 'Sir John Hamilton ', 'Robert Digby',
       'George Heming', 'Josiah Pryce', 'William Parker', 'Ulke Barendsz',
       'Lodewijk Grave van Bijland', 'P. van Hoogwerf', 'J.H. Forleij',
       'Zuirijn Dabenis', 'L.H. van Oijen', 'W.L. Veerman', 'J.F. Meijer',
       'Johan Hendrik van Ourijk', 'Cornelis van de Stam', 'Delvos',
       'W. van der Beets', 'Jacob Rijzik van den Briel',
       'Johannes Jansen Eije', 'C. Eeg', 'J.J. van Hoeij', nan,
       'Van Helsdinge', 'Cornelis van der Stam', 'Ewout van Haeftent',
       'Van der Gon', 'Godfried Wargijn', 'A. Hijne', 'Martoelet',
       'C. de Jong', 'Jan Bloem', 'G. T. Hinxt', 'C. de Cerf', 'T. Groot',
       'Volmer Knollaert', 'Jan van Kerkhoven', 'Hendrik Santleven',
       'L.L. Spengler', 'John Lloyd', 'Cornelis Van Kakom',
       "Cornelus D' Wit", 'Sampson Salt', 'MANUEL FELIPE DE LOYGORRI (?)',
       'J. Boelen', 'A.A. Buyskes', 'J.P.D. Scheidius', 'D. Buijs',
       'Jacobus Arkenbout', 'Bolken'], dtype=object)

In [80]:
shiplogs[shiplogs.WarsAndFightsMemo.notnull()].Nationality.unique()

array(['British', 'Dutch', 'Spanish', 'French', 'Danish'], dtype=object)

In [83]:
shiplogs[shiplogs.WarsAndFightsMemo.notnull()].ShipName.value_counts()

Maarsen                 11
Wassenaar                9
DESCONOCIDO-15           6
Mentor                   6
Jerusalem                5
Schiedam                 5
Jason                    4
Dordregt                 4
Ceres                    4
Dunkirk                  4
Zephyr                   4
Sirene                   3
Delphina                 3
Boreas                   3
Admiraal Evertsen        3
Pollux                   3
Rotterdam                2
Vlietlust                2
Noordbeveland            2
Grenadier                2
Newcastle                2
Princes Louisa           2
Hornet                   2
Irene                    2
Vliegende Visch          2
Hector                   2
Nymphe                   1
Bos en Hoven             1
Scipio                   1
Kroonprincesse Maria     1
Princes Carolina         1
Maria Reigersbergen      1
Princes Maria Louisa     1
Earl Spencer             1
Serpent                  1
Adder                    1
Akerendam                1
Vrouwe Johanna Cores     1
Kemphaan                 1
Royal Charlotte          1
Goede Trouw              1
Amazon                   1
Zwaluw                   1
Juno                     1
Cadmus                   1
Haast U Langzaam         1
Havick                   1
Panter                   1
dtype: int64

In [131]:
shiplogs[shiplogs.ShipName.str.contains('NORDEN') == True].ShipName

Series([], Name: ShipName, dtype: object)

In [84]:
# how long does it take to get from A to B?